.site-description { font-size: 0.875rem; color: #777; margin-top: 0.25rem; word-break: break-word; overflow-wrap: break-word; max-width: 100%; white-space: pre-wrap; text-align: left; }

.site-nav ul li a { background-image: linear-gradient(-90deg, #ebedf5 0%, rgba(235, 237, 245, 0.8) 80%, rgba(235, 237, 245, 0) 100%); }
